name: "Test"
on:
  push:
    branches-ignore:
      - 'dependabot/*'
  schedule:
    - cron: '22 22 * * 5'
env:
  IMAGE: ${{ github.repository }}

jobs:
  lint:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@v3

      - name: Markdown Lint
        uses: actionshub/markdownlint@2.0.2

      - name: YAML Lint
        uses: karancode/yamllint-github-action@master
        with:
          yamllint_config_filepath: .yamllint.yaml
          yamllint_file_or_dir: action.yml

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Install bats
      run: sudo apt-get -y install bats > /dev/null

    - name: Run CI script
      run: ./tests/run.bats
